<!DOCTYPE html>
<html>
  <head>
    <title>Bitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if user_logged_in? %>
    <h3>Welcome, <%= current_user.email %></h3>
      <%= link_to 'New Post', new_user_post_path(current_user) %>
      <%= link_to "Sign Out", sign_out_path, method: :delete %>
    <% else %>
      <% if !(current_page?(sign_in_path)) %>
       <%= link_to "Sign In", sign_in_path %>
      <% end %>
      <% if !(current_page?(signup_path)) %>
       <%= link_to "Sign Up", signup_path %>
      <% end %>
    <% end %>  

<% flash.each do |name, message| %>
<div class="flash-message flash_message-<% name %>">
  <%= message %>
  </div>
  <% end %>

    <%= yield %>
  </body>
</html>
